.app-form {
    margin: 1.5rem 1rem;

    .form-group {
        margin-bottom: 2rem;

        label {
            display: block;
            margin-bottom: 1rem;
            font-weight: bold;
        }

        .form-control {
            box-sizing: border-box;
            margin: 0 0.5rem;
            padding: 0.5rem 1rem;
            width: calc(100% - 1rem);
            font-family: $font-family-primary;
            font-size: 1rem;
            text-align: center;
            border: none;
            background-color: rgba($color-black, 0.05);
            box-shadow: 1px 1px 2px rgba($color-black, 0.5);
            border-radius: 0.5rem;
        }
    }

    button[type="submit"]{
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        width: 50%;
        font-family: $font-family-primary;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        border: none;
        border-radius: 1rem;
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 1px 1px 2px rgba($color-black, 0.5);
    }
}
